<div id="home" class="OuterWrapper Theme PositionStick">
    <div class="InnerWrapper HeaderHeight">
        <img src="/IceCoreLogo.png" alt="Trade Mark" width="280" height="100"/>  
    </div>
</div>