<head>
    <link rel="stylesheet" href="~/css/Signin.css" asp-append-version="true" />
</head>

<div class="sign-wrap-outer">
	<div class="signin-wrap">
		<i class="signin-icon fa-solid fa-user"></i>
		<input class="inputstyle" type="text" name="name" placeholder="User Name"/>
	</div>
	<div class="signin-wrap">
		<i class="signin-icon fa-solid fa-key"></i>
		<input class="inputstyle" type="password" name="password" placeholder="Password"/>
	</div>
	<div>
		<button class="signin-button" type="submit"><i class="fa-solid fa-arrow-right-to-bracket"></i></button>
	</div>
</div>
