<div class="col admin-login">   
    <div class="row admin-outer-wrap Theme"><div class="admin-side-head-upper admin-side-head"></div>
	    <form>
            <partial name="_Login"/>
        </form>
    </div>
    <div class="row Theme admin-side">
        <div class="admin-side-head">
        </div>
        <div class="admin-tips-outer">
        <i class="admin-tips-icon fa-solid fa-circle-info"></i>
        <h6 class="admin-tips">Tips For You!</h6>
        </div>
        <p class="admin-tips">Major ice cream lovers won’t be able to resist the draw of discounted prices on multiple scoops and will come back to try other flavours they missed out on the first time.</p>
    </div>
</div>    
