<div class="faq-outer-wrap">
    <div class="faq-outer">
        <div class="faq-inner Theme">
            <p class="faq-text" style="color:aqua;">Ques: How To Eat Ice Cream Like A Champ?</p>
            <p class="faq-text">Ans: Now that you know some interesting tidbits about ice cream, you can share with your friends at your next get together.The best way to each ice cream is different for each individual. Mochi is all about finding your favorite way to eat it.</p>
        </div>
    </div>
</div>
<div class="faq-outer-wrap">
    <div class="faq-outer">
        <div class="faq-inner Theme">
            <p class="faq-text" style="color:aqua;">Ques: What Is Mochi Ice Cream?</p>
            <p class="faq-text">Ans: Well, if you haven’t tried Mochi Ice Cream yet, it is definitely worth it. Mochi gives the classic flavors of ice cream a fun twist.</p>
        </div>
    </div>
</div>
<div class="faq-outer-wrap">
    <div class="faq-outer">
        <div class="faq-inner Theme">
            <p class="faq-text" style="color:aqua;">Ques: Why is ice cream is good?</p>
            <p class="faq-text">Ans: Ice cream is good, it tastes delicious, soft and creamy, it comes in thousands of flavours, some of which you would never even dream of, it can come in a cone or as a dessert, it can be eaten to cool you down in the summer and most people love it as a treat in the winter too.</p>
        </div>
    </div>
</div>