<div class="nav-outer">
    <div class="my-navbar">
        <a href="#home"><i class="nav-icon-link fa-solid fa-house"></i></a>
        <a href="#pick&pay"><i class="nav-icon-link fa-solid fa-store"></i></a>
        <a href="#subscriber"><i class="nav-icon-link fa-solid fa-user-check"></i></a>
        <a href="#become-subs"><i class="nav-icon-link fa-solid fa-user-plus"></i></a>
        <a href="#admin"><i class="nav-icon-link fa-solid fa-user-gear"></i></a>
        <a href="#updates"><i class="nav-icon-link fa-solid fa-blog"></i></a>
        <a href="#faqs"><i class="nav-icon-link fa-regular fa-circle-question"></i></a>
        <a href="#contact"><i class="nav-icon-link fa-solid fa-handshake-angle"></i></a>
    </div>
</div>