<div class="pickpay-outer-wrap">
    <div class="pickpay-inner-wrap">
        <div class="PickPay-wrap-outer">
            <div class="PickPay-wrap-image">
                <img class="PickPay-img" src="/PickPay1st.gif">
            </div>
            <div class="PickPay-wrap-content">
                <center><h5>Hurry up, It's my turn, now!</h5></center>
            </div>
        </div>
    </div>
    <div class="pickpay-inner-wrap">
        <div class="pick-options">
            Pre Makes
        </div>
        <div class="pick-options">
            Custom Makes 
        </div>
        <div class="pick-options">
            Family Makes
        </div>
    </div>

</div>



