<div class="show-out"> 
    <div class="showcase-wrap-outer">
        <div class="showcase-wrap-image">
            <img class="showcase-img" src="/kindpng_72113.png">
        </div>
        <div class="showcase-wrap-content">
            Mango
        </div>
    </div>

    <div class="showcase-wrap-outer">
        <div class="showcase-wrap-image">
            <img class="showcase-img" src="/kindpng_294580.png">
        </div>
        <div class="showcase-wrap-content">
            Strawberry
        </div>
    </div>

    <div class="showcase-wrap-outer">
        <div class="showcase-wrap-image">
            <img class="showcase-img" src="/kindpng_294946.png">
        </div>
        <div class="showcase-wrap-content">
            Kulfa
        </div>
    </div>

    <div class="showcase-wrap-outer">
        <div class="showcase-wrap-image">
            <img class="showcase-img" src="/kindpng_295126.png">
        </div>
        <div class="showcase-wrap-content">
            Choclate Chip
        </div>
    </div>
</div>