<div class="PickPay-wrap-outer">
    <div class="PickPay-wrap-image">
        <img class="PickPay-img" src="/PickPay1st.gif">
    </div>
    <div class="PickPay-wrap-content">
        Hurry up, It's my turn, now!
    </div>
</div>