<div class="pickpay-outer-wrap">
    <div class="pickpay-inner-wrap">
        <div class="PickPay-wrap-outer">
            <div class="PickPay-wrap-image">
                <img class="PickPay-img" src="/PickPay1st.gif">
            </div>
            <div class="PickPay-wrap-content">
                <center><h5>Hurry up, It's my turn, now!</h5></center>
            </div>
        </div>
    </div>
    <div class="pickpay-inner-wrap">
        <div class="pick-options-wrap">
            <div class="pick-options-back">
                <div class="pick-options">
                    <div class="opt-cont">
                        <i class="o-i fa-solid fa-ice-cream"></i>
                        Pre Makes
                    </div>
                </div>
                </div>
            <div class="pick-options-back">
                <div class="pick-options">
                    <div class="opt-cont">
                        <i class="o-i fa-solid fa-wand-magic-sparkles"></i>
                        Custom Makes 
                    </div>
                </div>
            </div>
            <div class="pick-options-back">
                <div class="pick-options">
                    <div class="opt-cont">
                        <i class="o-i fa-solid fa-box-archive"></i>
                        Family Makes
                    </div>
                </div>
            </div>
        </div>
        <div class="detail-wrap">
            <p class="pickpay-option-text"><b>Pre Makes: </b>Ice Core Provide you a pre make option over a vast range of flavors.</p>
            <p class="pickpay-option-text"><b>Custom Makes: </b>Now, you can customize your Ice Core Cream according to your taste.</p>
            <p class="pickpay-option-text"><b>Family Makes: </b>Family makes conatins 1-litre & 2-litre Ice cream boxes.</p>
        </div>
    </div>
</div>



