<div class="welcome-wrap-outer">
	<div class="welcome-wrap-inner">
		<div class="welcome-content"><img class="welcome-pic" src="/Welcome1st.gif"/>
			<h4 class="welcome-text">Happy Meal</h4>
			<p class="welcome-text">A Bite of full Happiness</p>
		</div>
		<div class="welcome-content"><img class="welcome-pic" src="/Welcome2nd.gif"/>
			<h4 class="welcome-text">Healthy & Fresh</h4>
			<p class="welcome-text">Gives you vitamins</p>
		</div>
	</div>
	<div class="welcome-wrap-inner">
		<div class="welcome-content"><img class="welcome-pic" src="/Welcome3rd.gif"/>
			<h4 class="welcome-text">Yummy Tumy</h4>
			<p class="welcome-text">Sweet Tumy's Perfection</p>
		</div>
		<div class="welcome-content"><img class="welcome-pic" src="/Welcome4th.gif"/>
			<h4 class="welcome-text">Love Filling</h4>
			<p class="welcome-text">Made with Love</p>
		</div>
	</div>
</div>