.pickpay-outer-wrap {
    display: flex;
    justify-content:space-around;
}

.pickpay-inner-wrap {
    display:flex;
    justify-content:space-around;
}


.PickPay-wrap-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
}

.PickPay-wrap-image {
    display: flex;
    width:max-content;
    border-radius: 2rem;
    background: linear-gradient(40deg, transparent, chocolate, transparent);
    transform: rotate(-20deg);
}

.PickPay-img {
    height:18.7rem;
    width:25rem;
    object-fit:contain;
    border-radius: 2rem;
    transform: rotate(20deg);
    overflow: hidden;
}

.PickPay-wrap-content {
    display: flex;
    color:black;
    font-size: 22px;
    margin-left:8px;
}

.pick-options {
    background-color:wheat;
    width:100%;
}

@media(max-width:850px) {
    .PickPay-img {
        height: 13.5rem;
        width: 18rem;
    }
    
    .PickPay-wrap-image {

    }

    .PickPay-wrap-outer {

    }

    .pickpay-outer-wrap {
        flex-direction:column;
        align-items:center;
    }
}