@model Subscriber

<div class="nav-outer">
    <div class="my-navbar">
        <p class="subs-nav-name">@Model.UserName</p>
        <a href="#home"><i style="font-size:17px;" class="nav-icon-link fa-solid fa-ice-cream"></i></a>
        <a href="#custommakes"><i class="nav-icon-link fa-solid fa-wand-magic-sparkles"></i></a>
        <a href="#familymakes"><i class="nav-icon-link fa-solid fa-box-archive"></i></a>
        <a href="#redeems"><i style="font-size:17px;" class="nav-icon-link fa-solid fa-award"></i></a>
        <a href="#contact"><i  class="nav-icon-link fa-solid fa-handshake-angle"></i></a>
        <a href="#"><i class="nav-icon-link fa-solid fa-arrow-right-from-bracket"></i></a>
    </div>
</div>
